<%- include("header_logged_out"); -%>

<style>
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /*firefox*/
  input[type=number] {
    -moz-appearance: textfield;
  }
</style>

<div
  class="container text-center"
  style="max-width: 330px; vertical-align: middle"
>
  <h1>MFA Verification</h1>
  <form
    action="mfa-verify"
    method="post"
  >
    <p>Logging into account: <%-email%></p>
    <div class="form-group text-left">
      <label for="otp">MFA Code</label>
      <input type="number" class="form-control" name="otp" value="" minlength="6" maxlength="6" required/>
    </div> 
    <p>You have to login with MFA once every 7 days</p>
    <% if(status === 401){ %>
        <p>Incorrect MFA Code try again</p>
    <% } %>
    <% if(status === 429){ %>
    <p>Too many incorrect login attempts. Try again Later.</p>
    <% } %>
    <input type="email" class="form-control" name="email" value="<%- email %>" minlength="4" maxlength="51" required hidden/>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
    <button type="submit" class="btn btn-dark" id="login-form-submit">Login</button>
  </form>
  
</div>
<%- include("footer"); -%>
